.color__color_zwet {
  height: 70px;
  width: 70px;
  left: 150px;
  top: 145px;
  border-radius: 6px;
  background-color: #000;
}

.color {
  // border: 2px solid red;
  .color__color {
    border: 2px solid green;
  }
  padding-top: 20px;
  .color__color_zwet {
    border: 2px solid red;
  }
  .color__text {
    border: 2px solid red;
  }
}
