doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

  body
    header
      .header__logo
        .logo
          img(src="/src/img/svg/LogoHeader.svg", alt="LogoHeader")
      .header__section    
        .color 
          .color__color_zwet
          .color__text
            p Dark Shade 100% 
              br
              span #1F2041

          //- .color__color_zwet
          //- .color__text
          //-   p Dark Shade 75% 
          //-     br
          //-     span #1F2041

          //- .color__color
          //-   .color__color_zwet
          //-   .color__text
          //-     p Dark Shade 50% 
          //-       br
          //-       span #1F2041

          //- .color__color 
          //-   .color__color_zwet
          //-   .color__text
          //-     p Dark Shade 25% 
          //-       br
          //-       span #1F2041

          //- .color__color
          //-   .color__color_zwet
          //-   .color__text
          //-     p Dark Shade 5%
          //-       br
          //-       span #1F2041

          //- .color__color
          //-   .color__color_zwet
          //-   .color__text
          //-     p Purple 
          //-       br
          //-       span #BC9CFF

          //- .color__color
          //-   .color__color_zwet
          //-   .color__text
          //-     p Green
          //-       br
          //-       span #6FCf97
        //- .ColorTypeZagolowoki   
        //-   h1 This one is the sub-section or widget title
        //-   h2 Next one is the item title inside widgets
        //-   h3 This is a label or CTA text
        //-   h4 This is the body text which is used for most of the design, like paragraphs, lists, etc.