doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous")

  body
    .container
      .row
        .col-lg-1
          img(src="/src/img/svg/LogoHeader.svg", alt="LogoHeader")
    .container
      .row
        .col-lg-3
          .color 
            .color__color
              .color__color_zwet
              .color__text
                p Dark Shade 100% 
                  br
                  span #1F2041

            .color__color
              .color__color_zwet
              .color__text
                p Dark Shade 75% 
                  span #1F2041

            .color__color
              .color__color_zwet
              .color__text
                p Dark Shade 50% 
                  span #1F2041

            .color__color 
              .color__color_zwet
              .color__text
                p Dark Shade 25% 
                  span #1F2041

            .color__color
              .color__color_zwet
              .color__text
                p Dark Shade 5% 
                  span #1F2041

            .color__color
              .color__color_zwet
              .color__text
                p Purple 
                  span #1F2041

            .color__color
              .color__color_zwet
              .color__text
                p Green 
                  span #1F2041